body {
  background: #1a1110;
  color: white;
  font-size: 24px;
  font-family: "Verdana";
}

.logo {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.main-section {
  width: 70%;
  margin: auto;
}

.main-section h1 {
  text-align: center;
  font-size: 28px;
}

.main-section a {
  color: #7ee8fa;
}

.main-section .home-link {
  display:block;
  text-align: center;
  margin-top: 20px;
}
